:host {
  display: block;
}

.neomorphic-card {
  box-shadow:
    20px 20px 60px #e0ddd8,
    -20px -20px 60px #ffffff;
}

.neomorphic-inset {
  box-shadow:
    inset 6px 6px 12px #dbd8d2,
    inset -6px -6px 12px #ffffff;
}

.neomorphic-button-social {
  box-shadow:
    6px 6px 12px #e0ddd8,
    -6px -6px 12px #ffffff;
}

.neomorphic-button-social:active {
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.05),
    inset -4px -4px 8px #ffffff;
}

